doctype html
html(lang="en")

	body
		h1 This page shows a set of headers
		#container
			p.
				There should be a list of headers below:
			#contentbox
				p=cookie
				p=host
				p=referrer
	
		a(href=main) Main 
		br
		a(href=redirect) Redirect 
		br
		a(href=head) Headers
